body {
  text-align: center;
  font-family: Helvetica, sans-serif;
}

a {
  font-size: 18px;
  color: white;
}

h1 {
  font-size: 70px;
  font-weight: bold;
  color: white;
}

h2 {
  font-size: 32px;
  font-weight: bold;
}

h3 {
  font-size: 23px;
  font-weight: bold;
  color: white;
  background-image: url("images/the-flatiron-building.png");
  width: 100%;
}

span {
  font-size: 11px;
  color: white;
}

.headings {
  font-size: 23px;
  font-weight: bold;
}

#head {
  background-image: url("images/the-flatiron-building.png");
  width: 100%;
}

#bottom {
  background-color: dimgray;
  color: white;
  text-align: left;
}
